*{
    margin:0;
    padding:0;
}

body{
    background-image:url("espaço.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-color:black;
    font-family:Arial, sans-serif;
}

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px;

    background-color:black;

    border-bottom:1px solid gray;

}

.logo{

    width:70px;

}

ul{

    display:flex;

    list-style:none;

}

li{

    margin-left:30px;

}

a{

    color:white;

    text-decoration:none;

    font-size:18px;

    transition:0.3s;

}

a:hover{

    color:#FC3D21;

    transform:translateY(-2px);

}
.logo-div{

    display:flex;

    align-items:center;

}

.logo{

    width:70px;

}

.logo-div h2{
    font-family: 'Orbitron', sans-serif;

    margin-left:12px;

    color:#FFF;

    font-family:'Orbitron', sans-serif;

    font-size:30px;

    letter-spacing:3px;

}

.div_espaco{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.sub_titulo{
    font-size: 14px;
  
}

.botao_Aba_espace{
    
    background-color:#0B3D91;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:  56px;
    width: 150px;
    border-radius: 6px;
    font-size: 16px;
    padding: 0px 22px;

}

.espacamento_botao{
    margin-top: 30px;
    
}

.div_novidades{
    background-color: white;
    width: 100vw;
    height: auto;
    display: block;
    padding: 0 22px;
    justify-content: space-between;

}

.Texto_novidades{
    margin-left: 39%;
    color: #FC3D21;
    font-size: 50px;
    height: auto
    
}


.img_size_novidades{
    width:17vw;
    height: 30vh;
    margin-top: 10px;
    border-radius: 10%;
    padding: 10px 0px;
    
    
    
}

.div_img_novidades{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 40px;
    gap: 30px;
    
}

.div_img_texto_novidade{
    width: 20vw;
    height: 70vh;
    text-align:center;
    background-image: url(fundo.jfif);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    

}

.texto_novidades{
    font-size: 17px;
    margin-top: 10x;
    color: white;
    
}

.botao_novidades{
    background-color:red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:  30px;
    width: 120px;
    border-radius: 6px;
    font-size: 16px;
    padding: 0 22px;
    margin-top: auto;
    margin-bottom: 15px;
}

.botao_novidades:hover{
    color: black;
    background-color: #0B3D91;
}

.div_terra_clima{
    width: 100vw;
    height: auto;
    display: inline-block;
    padding: 0 22px;
    justify-content: space-between;
    
    
}

.Texto_terra_clima{
    color: white;
    font-size: 50px;
    
    
}

.div_titulo_clima_terra{
    text-align: end;
    width: 100vw;
    height: 50px;
    display: inline-block;
    
}

.div_texto_clima_terra{
    width: 50vw;
    height: auto;

}

.texto_sobre_terra_clima{
    color: white;
    font-size: 15px;
}

.img_terra{
    width: 500px;
    height: auto;


}
.div_img_terra{
    display: flex;
    justify-content: flex-end;
    padding: 10x 0px;
    width: auto;
    height: auto;

}

