*{
    margin:0;
    padding:0;
}

body{
    background-image:url("espaço.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-color:black;
    font-family:Arial, sans-serif;
}

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px;

    background-color:black;

    border-bottom:1px solid gray;

}

.logo{

    width:70px;

}

ul{

    display:flex;

    list-style:none;

}

li{

    margin-left:30px;

}

a{

    color:white;

    text-decoration:none;

    font-size:18px;

    transition:0.3s;

}

a:hover{

    color:#FC3D21;

    transform:translateY(-2px);

}
.logo-container{

    display:flex;

    align-items:center;

}

.logo{

    width:70px;

}

.logo-container h2{
    font-family: 'Orbitron', sans-serif;

    margin-left:12px;

    color:#FFF;

    font-family:'Orbitron', sans-serif;

    font-size:30px;

    letter-spacing:3px;

}
.hero{

    height:85vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    color:white;

    padding:20px;

}

.hero h1{

    font-family:'Orbitron', sans-serif;

    font-size:65px;

    letter-spacing:4px;

    margin-bottom:30px;

    text-transform:uppercase;

}

.hero p{

    width:700px;

    max-width:90%;

    font-size:22px;

    line-height:1.8;

    color:#d8d8d8;

    margin-bottom:40px;

}

.btn{

    text-decoration:none;

    color:white;

    background:#FC3D21;

    padding:16px 35px;

    border-radius:6px;

    font-weight:bold;

    transition:color 0.2s ease, transform 0.2s ease;

}

.btn:hover{

    color:#ffffff;

    transform:scale(1.02);

}